div[id^="syndicatedContent"] {
  background: #ffffff;
  /* border: 1px solid #cacaca; */
  /* color: #333333; */
  /* padding: 1em; */
  /* margin: 1em; */
  /***** Syndicated Content Information Footer *****/ }
  div[id^="syndicatedContent"] .imgRight {
    float: right;
    width: 288px;
    background: #f2f2f2;
    border: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em;
    margin: 0 0 2em 2em; }
    div[id^="syndicatedContent"] .imgRight img {
      height: auto;
      width: 100%; }
    div[id^="syndicatedContent"] .imgRight span {
      font-size: 90%; }
  div[id^="syndicatedContent"] h2 {
    color: #333333;
    line-height: 1.5rem;
    margin: 1em 0; }
  div[id^="syndicatedContent"] ul {
    line-height: 1.5rem;
    margin-bottom: 1em; }
    div[id^="syndicatedContent"] ul li {
      color: #333333;
      line-height: 1.5rem; }
  div[id^="syndicatedContent"] table {
    background: #ffffff;
    color: #333333;
    margin: 1em auto;
    padding: 0;
    width: 100%;
    max-width: 850px; }
    div[id^="syndicatedContent"] table caption {
      color: #333333;
      font-size: 110%;
      font-weight: bold;
      padding: 1em 0;
      text-align: center; }
    div[id^="syndicatedContent"] table thead tr {
      background: #CD3A12;
      background: #cacaca;
      color: #ffffff;
      font-weight: bold;
      padding: 1em .5em;
      text-align: center; }
    div[id^="syndicatedContent"] table thead th {
      padding: 1em .5em; }
      div[id^="syndicatedContent"] table thead th p {
        margin: 0;
        padding: 0; }
        div[id^="syndicatedContent"] table thead th p strong {
          color: #ffffff; }
    div[id^="syndicatedContent"] table tbody tr {
      border-bottom: 1px solid #cacaca; }
      div[id^="syndicatedContent"] table tbody tr:last-of-type {
        border: 0; }
    div[id^="syndicatedContent"] table tbody th, div[id^="syndicatedContent"] table tbody td {
      padding: 1em .5em; }
  div[id^="syndicatedContent"] sub, div[id^="syndicatedContent"] sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  div[id^="syndicatedContent"] sup {
    top: -0.5em; }
  div[id^="syndicatedContent"] sub {
    bottom: -0.25em; }
  div[id^="syndicatedContent"] img {
    margin: 0 auto; }
  div[id^="syndicatedContent"] .syndicate:last-of-type {
    border-top: 2px solid #cacaca;
    color: #333333;
    font-size: 90%;
    line-height: 1.2rem;
    margin-top: 1em;
    padding: 1em 0; }
